server:
  port: 8080

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  ai:
    dashscope:
      api-key: sk-4f654636abde48598c13f005740f8233
      options:
        model: qwen-max   # ← 关键！必须放在 options 下你使用的模型，如 qwen-plus, qwen-turbo


logging:
  level:
    com.example.molgenie: INFO